In [40]:
import pandas as pd
import requests
import json

In [41]:
bitcoin_cash=("bitcoin_cash_price.csv")

bitcoin_cash_pd=pd.read_csv(bitcoin_cash)
bitcoin_cash_pd

#Date Range=Feb 20, 2018 - July 23, 2017 (year-month-day)

#volume, market cap, close, date 
#rename current price to close 
#rop ones that dont drive

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Feb 20, 2018",1543.27,1569.03,1414.35,1418.73,"820,947,000","26,199,800,000"
1,"Feb 19, 2018",1483.34,1553.81,1483.34,1534.77,"578,906,000","25,179,700,000"
2,"Feb 18, 2018",1552.10,1641.40,1428.49,1487.46,"907,873,000","26,344,200,000"
3,"Feb 17, 2018",1548.48,1568.64,1517.14,1551.39,"641,719,000","26,280,100,000"
4,"Feb 16, 2018",1373.16,1558.66,1369.68,1552.20,"961,010,000","23,302,000,000"
...,...,...,...,...,...,...,...
208,"Jul 27, 2017",417.10,460.97,367.78,385.48,"533,207",-
209,"Jul 26, 2017",407.08,486.16,321.79,365.82,"1,784,640",-
210,"Jul 25, 2017",441.35,541.66,338.09,406.90,"524,908",-
211,"Jul 24, 2017",412.58,578.89,409.21,440.70,"190,952",-
212,"Jul 23, 2017",555.89,578.97,411.78,413.06,"85,013",-

In [42]:
bitcoin_cash_pd_col_clean=bitcoin_cash_pd.drop(['Open', 'High', 'Low'], axis=1)
bitcoin_cash_pd_col_clean

             Date    Close       Volume      Market Cap
0    Feb 20, 2018  1418.73  820,947,000  26,199,800,000
1    Feb 19, 2018  1534.77  578,906,000  25,179,700,000
2    Feb 18, 2018  1487.46  907,873,000  26,344,200,000
3    Feb 17, 2018  1551.39  641,719,000  26,280,100,000
4    Feb 16, 2018  1552.20  961,010,000  23,302,000,000
..            ...      ...          ...             ...
208  Jul 27, 2017   385.48      533,207               -
209  Jul 26, 2017   365.82    1,784,640               -
210  Jul 25, 2017   406.90      524,908               -
211  Jul 24, 2017   440.70      190,952               -
212  Jul 23, 2017   413.06       85,013               -

[213 rows x 4 columns]

In [ ]:
## API/JSON from CoinGecko
dates = []
prices = []
market_caps = []
volumes = []
search_url = 'https://api.coingecko.com/api/v3/coins/bitcoin/history?date='

for year in range (2017,2019):
    for month in range (1,13):
        for day in range (1,32):
            dayf = "{:02d}".format(day)
            monthf = "{:02d}".format(month)
            datef = f"{dayf}-{monthf}-{year}"
            query = f"{search_url}{datef}"
            try:
                result = requests.get(query).json()
                Close = result['market_data']['current_price']['usd']
                Market_Cap = result['market_data']['market_cap']['usd']
                Volume = result['market_data']['total_volume']['usd']
                dates.append(datef)
                prices.append(Close)
                market_caps.append(Market_Cap)
                volumes.append(Volume)
            except:
                print(f"{query} : No Data Found")

btc_df = pd.DataFrame({
    "Date" : dates,
    "Market Cap" : market_caps,
    "Volume" : volumes,
    "Current Price" : prices
})

btc_df.head()