In [1]:
import pandas as pd
import requests
import json

In [2]:
bitcoin_cash=("bitcoin_cash_price.csv")

bitcoin_cash_pd=pd.read_csv(bitcoin_cash)
bitcoin_cash_pd

#Date Range=Feb 20, 2018 - July 23, 2017 (year-month-day)

#volume, market cap, close, date 
#rename current price to close 
#rop ones that dont drive

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Feb 20, 2018",1543.27,1569.03,1414.35,1418.73,"820,947,000","26,199,800,000"
1,"Feb 19, 2018",1483.34,1553.81,1483.34,1534.77,"578,906,000","25,179,700,000"
2,"Feb 18, 2018",1552.10,1641.40,1428.49,1487.46,"907,873,000","26,344,200,000"
3,"Feb 17, 2018",1548.48,1568.64,1517.14,1551.39,"641,719,000","26,280,100,000"
4,"Feb 16, 2018",1373.16,1558.66,1369.68,1552.20,"961,010,000","23,302,000,000"
5,"Feb 15, 2018",1358.65,1400.71,1330.18,1375.81,"502,454,000","23,053,300,000"
6,"Feb 14, 2018",1229.18,1384.06,1229.18,1362.27,"629,852,000","20,854,300,000"
7,"Feb 13, 2018",1285.23,1289.42,1205.73,1231.98,"442,663,000","21,803,000,000"
8,"Feb 12, 2018",1222.43,1302.66,1222.43,1283.91,"466,213,000","20,735,400,000"
9,"Feb 11, 2018",1255.59,1306.20,1197.87,1217.64,"651,555,000","21,295,600,000"
10,"Feb 10, 2018",1311.99,1394.81,1215.72,1257.31,"734,606,000","22,249,700,000"
11,"Feb 09, 2018",1273.87,1342.41,1206.39,1312.11,"1,133,760,000","21,601,200,000"
12,"Feb 08, 2018",951.57,1345.20,951.57,1284.56,"2,203,710,000","16,133,900,000"
13,"Feb 07, 2018",971.08,1040.49,902.49,957.96,"866,222,000","16,462,900,000"
14,"Feb 06, 2018",890.97,978.91,764.02,974.52,"777,420,000","15,103,100,000"
15,"Feb 05, 2018",1159.89,1172.70,839.95,887.41,"568,117,000","19,659,800,000"
16,"Feb 04, 2018",1273.17,1286.98,1101.31,1165.38,"656,034,000","21,577,500,000"
17,"Feb 03, 2018",1194.23,1314.43,1072.83,1272.50,"453,101,000","20,237,400,000"
18,"Feb 02, 2018",1272.50,1272.50,980.78,1191.14,"896,666,000","21,561,700,000"
19,"Feb 01, 2018",1491.12,1503.30,1214.88,1274.35,"678,020,000","25,263,200,000"
20,"Jan 31, 2018",1470.74,1522.87,1406.25,1486.89,"729,209,000","24,915,700,000"
21,"Jan 30, 2018",1657.69,1662.07,1468.17,1470.55,"649,823,000","28,079,700,000"
22,"Jan 29, 2018",1745.36,1763.24,1638.33,1657.14,"362,213,000","29,561,500,000"
23,"Jan 28, 2018",1636.41,1762.34,1636.41,1746.25,"580,544,000","27,713,300,000"
24,"Jan 27, 2018",1602.50,1665.81,1567.78,1628.63,"441,742,000","27,136,100,000"
25,"Jan 26, 2018",1637.19,1678.63,1500.37,1603.90,"594,667,000","27,720,500,000"
26,"Jan 25, 2018",1661.04,1707.70,1611.04,1642.12,"522,194,000","28,121,300,000"
27,"Jan 24, 2018",1622.15,1703.34,1575.42,1639.13,"488,161,000","27,460,200,000"
28,"Jan 23, 2018",1623.14,1700.34,1504.72,1621.46,"578,984,000","27,473,700,000"
29,"Jan 22, 2018",1794.46,1815.42,1525.50,1621.92,"681,350,000","30,370,200,000"
...,...,...,...,...,...,...,...
183,"Aug 21, 2017",723.70,756.59,573.47,599.63,"1,123,400,000","11,943,100,000"
184,"Aug 20, 2017",772.42,858.96,683.94,712.87,"1,494,020,000","12,742,600,000"
185,"Aug 19, 2017",697.04,1091.97,625.16,754.56,"3,196,230,000","11,498,100,000"
186,"Aug 18, 2017",458.67,764.07,458.67,690.24,"3,087,490,000","7,565,590,000"
187,"Aug 17, 2017",301.02,460.53,293.10,460.53,"744,605,000","4,964,980,000"
188,"Aug 16, 2017",297.97,307.62,290.21,300.21,"106,436,000","4,914,350,000"
189,"Aug 15, 2017",298.19,306.52,292.88,297.86,"133,924,000","4,917,480,000"
190,"Aug 14, 2017",296.10,327.39,293.50,297.68,"174,968,000","4,882,720,000"
191,"Aug 13, 2017",316.29,317.47,298.05,298.05,"120,722,000","5,215,330,000"
192,"Aug 12, 2017",327.82,341.85,313.70,317.09,"126,007,000","5,405,200,000"
193,"Aug 11, 2017",275.88,351.16,275.02,328.24,"233,971,000","4,548,600,000"
194,"Aug 10, 2017",305.21,311.68,274.68,275.95,"136,637,000","5,031,790,000"
195,"Aug 09, 2017",345.28,349.32,298.61,303.89,"165,032,000","5,691,960,000"
196,"Aug 08, 2017",321.35,386.29,309.61,345.49,"274,880,000","5,297,390,000"
197,"Aug 07, 2017",223.76,373.87,223.76,319.69,"346,546,000","3,688,360,000"
198,"Aug 06, 2017",212.18,223.70,203.44,220.66,"107,606,000","3,497,290,000"
199,"Aug 05, 2017",231.11,273.04,200.98,213.15,"144,043,000","3,809,330,000"
200,"Aug 04, 2017",362.18,386.93,233.05,233.05,"185,038,000","5,969,720,000"
201,"Aug 03, 2017",448.49,519.28,364.05,364.05,"161,518,000","7,392,030,000"
202,"Aug 02, 2017",382.38,756.93,309.33,452.66,"416,207,000","6,302,360,000"
203,"Aug 01, 2017",294.60,426.11,210.38,380.01,"65,988,800",-
204,"Jul 31, 2017",346.36,347.82,266.19,294.46,"1,075,960",-
205,"Jul 30, 2017",385.14,385.14,316.25,345.66,"606,695",-
206,"Jul 29, 2017",410.56,423.73,323.73,384.77,"737,815",-
207,"Jul 28, 2017",386.65,465.18,217.06,406.05,"1,230,160",-
208,"Jul 27, 2017",417.10,460.97,367.78,385.48,"533,207",-
209,"Jul 26, 2017",407.08,486.16,321.79,365.82,"1,784,640",-
210,"Jul 25, 2017",441.35,541.66,338.09,406.90,"524,908",-
211,"Jul 24, 2017",412.58,578.89,409.21,440.70,"190,952",-
212,"Jul 23, 2017",555.89,578.97,411.78,413.06,"85,013",-

In [3]:
bitcoin_cash_pd_col_clean=bitcoin_cash_pd.drop(['Open', 'High', 'Low'], axis=1)
bitcoin_cash_pd_col_clean

             Date    Close         Volume      Market Cap
0    Feb 20, 2018  1418.73    820,947,000  26,199,800,000
1    Feb 19, 2018  1534.77    578,906,000  25,179,700,000
2    Feb 18, 2018  1487.46    907,873,000  26,344,200,000
3    Feb 17, 2018  1551.39    641,719,000  26,280,100,000
4    Feb 16, 2018  1552.20    961,010,000  23,302,000,000
5    Feb 15, 2018  1375.81    502,454,000  23,053,300,000
6    Feb 14, 2018  1362.27    629,852,000  20,854,300,000
7    Feb 13, 2018  1231.98    442,663,000  21,803,000,000
8    Feb 12, 2018  1283.91    466,213,000  20,735,400,000
9    Feb 11, 2018  1217.64    651,555,000  21,295,600,000
10   Feb 10, 2018  1257.31    734,606,000  22,249,700,000
11   Feb 09, 2018  1312.11  1,133,760,000  21,601,200,000
12   Feb 08, 2018  1284.56  2,203,710,000  16,133,900,000
13   Feb 07, 2018   957.96    866,222,000  16,462,900,000
14   Feb 06, 2018   974.52    777,420,000  15,103,100,000
15   Feb 05, 2018   887.41    568,117,000  19,659,800,000
16   Feb 04, 2018  1165.38    656,034,000  21,577,500,000
17   Feb 03, 2018  1272.50    453,101,000  20,237,400,000
18   Feb 02, 2018  1191.14    896,666,000  21,561,700,000
19   Feb 01, 2018  1274.35    678,020,000  25,263,200,000
20   Jan 31, 2018  1486.89    729,209,000  24,915,700,000
21   Jan 30, 2018  1470.55    649,823,000  28,079,700,000
22   Jan 29, 2018  1657.14    362,213,000  29,561,500,000
23   Jan 28, 2018  1746.25    580,544,000  27,713,300,000
24   Jan 27, 2018  1628.63    441,742,000  27,136,100,000
25   Jan 26, 2018  1603.90    594,667,000  27,720,500,000
26   Jan 25, 2018  1642.12    522,194,000  28,121,300,000
27   Jan 24, 2018  1639.13    488,161,000  27,460,200,000
28   Jan 23, 2018  1621.46    578,984,000  27,473,700,000
29   Jan 22, 2018  1621.92    681,350,000  30,370,200,000
..            ...      ...            ...             ...
183  Aug 21, 2017   599.63  1,123,400,000  11,943,100,000
184  Aug 20, 2017   712.87  1,494,020,000  12,742,600,000
185  Aug 19, 2017   754.56  3,196,230,000  11,498,100,000
186  Aug 18, 2017   690.24  3,087,490,000   7,565,590,000
187  Aug 17, 2017   460.53    744,605,000   4,964,980,000
188  Aug 16, 2017   300.21    106,436,000   4,914,350,000
189  Aug 15, 2017   297.86    133,924,000   4,917,480,000
190  Aug 14, 2017   297.68    174,968,000   4,882,720,000
191  Aug 13, 2017   298.05    120,722,000   5,215,330,000
192  Aug 12, 2017   317.09    126,007,000   5,405,200,000
193  Aug 11, 2017   328.24    233,971,000   4,548,600,000
194  Aug 10, 2017   275.95    136,637,000   5,031,790,000
195  Aug 09, 2017   303.89    165,032,000   5,691,960,000
196  Aug 08, 2017   345.49    274,880,000   5,297,390,000
197  Aug 07, 2017   319.69    346,546,000   3,688,360,000
198  Aug 06, 2017   220.66    107,606,000   3,497,290,000
199  Aug 05, 2017   213.15    144,043,000   3,809,330,000
200  Aug 04, 2017   233.05    185,038,000   5,969,720,000
201  Aug 03, 2017   364.05    161,518,000   7,392,030,000
202  Aug 02, 2017   452.66    416,207,000   6,302,360,000
203  Aug 01, 2017   380.01     65,988,800               -
204  Jul 31, 2017   294.46      1,075,960               -
205  Jul 30, 2017   345.66        606,695               -
206  Jul 29, 2017   384.77        737,815               -
207  Jul 28, 2017   406.05      1,230,160               -
208  Jul 27, 2017   385.48        533,207               -
209  Jul 26, 2017   365.82      1,784,640               -
210  Jul 25, 2017   406.90        524,908               -
211  Jul 24, 2017   440.70        190,952               -
212  Jul 23, 2017   413.06         85,013               -

[213 rows x 4 columns]

In [4]:
## API/JSON from CoinGecko
dates = []
prices = []
market_caps = []
volumes = []
search_url = 'https://api.coingecko.com/api/v3/coins/bitcoin/history?date='

for year in range (2017,2019):
    for month in range (1,13):
        for day in range (1,32):
            dayf = "{:02d}".format(day)
            monthf = "{:02d}".format(month)
            datef = f"{dayf}-{monthf}-{year}"
            query = f"{search_url}{datef}"
            try:
                result = requests.get(query).json()
                Close = result['market_data']['current_price']['usd']
                Market_Cap = result['market_data']['market_cap']['usd']
                Volume = result['market_data']['total_volume']['usd']
                dates.append(datef)
                prices.append(Close)
                market_caps.append(Market_Cap)
                volumes.append(Volume)
            except:
                print(f"{query} : No Data Found")

btc_df = pd.DataFrame({
    "Date" : dates,
    "Market Cap" : market_caps,
    "Volume" : volumes,
    "Current Price" : prices
})

btc_df.head()

https://api.coingecko.com/api/v3/coins/bitcoin/history?date=29-02-2017 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=30-02-2017 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-02-2017 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-04-2017 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-06-2017 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-09-2017 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-11-2017 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=29-02-2018 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=30-02-2018 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-02-2018 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-04-2018 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-06-2018 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-09-2018 : No Data Found
https://api.coingecko.com/api/v3/coins/bitcoin/history?date=31-11-2018 : No Data Found

         Date    Market Cap        Volume  Current Price
0  01-01-2017  1.604599e+10  3.470830e+09     998.050000
1  02-01-2017  1.638793e+10  4.444828e+09    1019.198800
2  03-01-2017  1.665272e+10  4.399421e+09    1035.531300
3  04-01-2017  1.818766e+10  8.705359e+09    1130.849516
4  05-01-2017  1.593489e+10  1.210275e+10     990.667500

In [8]:
# Clean Data: Transform Date columns to date format then inner merge on date  

bitcoin_cash_pd_col_clean['Date'] = pd.to_datetime(bitcoin_cash_pd_col_clean['Date'])
btc_df['Date']= pd.to_datetime(btc_df['Date'])

# rename close to current price so that it is consistent terminology
bitcoin_cash_pd_col_clean = bitcoin_cash_pd_col_clean.rename(columns = {'Close': 'Current Price'})
bitcoin_cash_pd_col_clean = bitcoin_cash_pd_col_clean[['Date', 'Market Cap', 'Volume', 'Current Price']]

'bitcoin_cash_price.csv'

In [20]:
# Insert Identifiers for each cryptocurrency
bitcoin_cash_pd_col_clean ['ID'] = 0
btc_df['ID']= 1

In [19]:
btc_df

          Date    Market Cap        Volume  Current Price
0   2017-01-01  1.604599e+10  3.470830e+09     998.050000
1   2017-02-01  1.638793e+10  4.444828e+09    1019.198800
2   2017-03-01  1.665272e+10  4.399421e+09    1035.531300
3   2017-04-01  1.818766e+10  8.705359e+09    1130.849516
4   2017-05-01  1.593489e+10  1.210275e+10     990.667500
5   2017-06-01  1.438228e+10  1.071325e+10     894.032500
6   2017-07-01  1.448115e+10  7.496626e+09     900.078800
7   2017-08-01  1.461184e+10  4.735055e+09     908.085000
8   2017-09-01  1.451352e+10  4.072688e+09     901.878888
9   2017-10-01  1.457773e+10  3.216811e+09     905.759463
10  2017-11-01  1.262408e+10  5.258604e+09     784.277500
11  2017-12-01  1.286963e+10  3.344901e+09     799.427500
12  2017-01-13  1.327479e+10  1.860270e+09     824.498800
13  2017-01-14  1.316907e+10  1.204480e+09     817.825000
14  2017-01-15  1.323662e+10  9.238967e+08     821.912500
15  2017-01-16  1.334139e+10  8.313615e+08     828.310000
16  2017-01-17  1.456480e+10  1.316827e+09     904.152500
17  2017-01-18  1.407968e+10  1.147970e+09     873.935000
18  2017-01-19  1.445143e+10  8.758585e+08     896.890000
19  2017-01-20  1.436600e+10  6.137963e+08     891.458800
20  2017-01-21  1.482282e+10  6.834912e+08     919.677500
21  2017-01-22  1.481040e+10  8.302018e+08     918.778812
22  2017-01-23  1.481405e+10  4.670229e+08     918.907500
23  2017-01-24  1.428176e+10  3.786662e+08     885.788800
24  2017-01-25  1.440737e+10  3.819514e+08     893.473800
25  2017-01-26  1.476203e+10  5.834937e+07     915.360000
26  2017-01-27  1.481118e+10  4.902932e+07     918.287500
27  2017-01-28  1.484453e+10  2.188221e+07     920.245000
28  2017-01-29  1.474799e+10  2.028832e+07     914.142500
29  2017-01-30  1.486010e+10  3.016603e+07     920.991146
..         ...           ...           ...            ...
700 2018-02-12  7.307586e+10  3.183894e+09    4189.573823
701 2018-03-12  7.178448e+10  3.242290e+09    4124.593549
702 2018-04-12  6.748914e+10  3.128855e+09    3878.839235
703 2018-05-12  6.859215e+10  3.255900e+09    3943.692812
704 2018-06-12  6.535577e+10  3.020004e+09    3751.691966
705 2018-07-12  6.035792e+10  3.672494e+09    3466.763864
706 2018-08-12  5.934891e+10  5.243194e+09    3408.523617
707 2018-09-12  5.952662e+10  3.430204e+09    3424.705861
708 2018-10-12  6.183299e+10  2.938443e+09    3550.546434
709 2018-11-12  5.980535e+10  2.614506e+09    3433.808440
710 2018-12-12  5.885277e+10  2.720740e+09    3378.808778
711 2018-12-13  5.987832e+10  2.552042e+09    3438.100074
712 2018-12-14  5.731829e+10  2.620532e+09    3294.636157
713 2018-12-15  5.599852e+10  2.663820e+09    3216.627150
714 2018-12-16  5.617126e+10  2.103030e+09    3221.976204
715 2018-12-17  5.605048e+10  1.972664e+09    3217.046835
716 2018-12-18  6.114345e+10  3.421250e+09    3506.217013
717 2018-12-19  6.372043e+10  3.898845e+09    3655.775046
718 2018-12-20  6.436355e+10  4.721563e+09    3687.750553
719 2018-12-21  7.057886e+10  6.126325e+09    4065.097238
720 2018-12-22  6.711818e+10  4.813606e+09    3846.227498
721 2018-12-23  6.884609e+10  3.568246e+09    3960.567773
722 2018-12-24  6.868012e+10  3.514437e+09    3941.617740
723 2018-12-25  7.026633e+10  5.022192e+09    4021.990255
724 2018-12-26  6.535010e+10  4.189084e+09    3759.178427
725 2018-12-27  6.597246e+10  3.568561e+09    3781.613082
726 2018-12-28  6.280867e+10  3.386168e+09    3587.703880
727 2018-12-29  6.726308e+10  3.561936e+09    3854.421097
728 2018-12-30  6.683876e+10  3.031003e+09    3778.193940
729 2018-12-31  6.649419e+10  3.109685e+09    3809.728229

[730 rows x 4 columns]

In [21]:
Combined_df = pd.concat([btc_df, bitcoin_cash_pd_col_clean])

In [27]:
Combined_df ['Market Cap'] = Combined_df ['Market Cap'].apply(pd.to_numeric, errors = 'coerce')
Combined_df ['Volume'] = Combined_df ['Volume'].apply(pd.to_numeric, errors = 'coerce')
Combined_df ['Current Price'] = Combined_df ['Current Price'].apply(pd.to_numeric, errors = 'coerce')

Combined_df

          Date    Market Cap        Volume  Current Price  ID
0   2017-01-01  1.604599e+10  3.470830e+09     998.050000   1
1   2017-02-01  1.638793e+10  4.444828e+09    1019.198800   1
2   2017-03-01  1.665272e+10  4.399421e+09    1035.531300   1
3   2017-04-01  1.818766e+10  8.705359e+09    1130.849516   1
4   2017-05-01  1.593489e+10  1.210275e+10     990.667500   1
5   2017-06-01  1.438228e+10  1.071325e+10     894.032500   1
6   2017-07-01  1.448115e+10  7.496626e+09     900.078800   1
7   2017-08-01  1.461184e+10  4.735055e+09     908.085000   1
8   2017-09-01  1.451352e+10  4.072688e+09     901.878888   1
9   2017-10-01  1.457773e+10  3.216811e+09     905.759463   1
10  2017-11-01  1.262408e+10  5.258604e+09     784.277500   1
11  2017-12-01  1.286963e+10  3.344901e+09     799.427500   1
12  2017-01-13  1.327479e+10  1.860270e+09     824.498800   1
13  2017-01-14  1.316907e+10  1.204480e+09     817.825000   1
14  2017-01-15  1.323662e+10  9.238967e+08     821.912500   1
15  2017-01-16  1.334139e+10  8.313615e+08     828.310000   1
16  2017-01-17  1.456480e+10  1.316827e+09     904.152500   1
17  2017-01-18  1.407968e+10  1.147970e+09     873.935000   1
18  2017-01-19  1.445143e+10  8.758585e+08     896.890000   1
19  2017-01-20  1.436600e+10  6.137963e+08     891.458800   1
20  2017-01-21  1.482282e+10  6.834912e+08     919.677500   1
21  2017-01-22  1.481040e+10  8.302018e+08     918.778812   1
22  2017-01-23  1.481405e+10  4.670229e+08     918.907500   1
23  2017-01-24  1.428176e+10  3.786662e+08     885.788800   1
24  2017-01-25  1.440737e+10  3.819514e+08     893.473800   1
25  2017-01-26  1.476203e+10  5.834937e+07     915.360000   1
26  2017-01-27  1.481118e+10  4.902932e+07     918.287500   1
27  2017-01-28  1.484453e+10  2.188221e+07     920.245000   1
28  2017-01-29  1.474799e+10  2.028832e+07     914.142500   1
29  2017-01-30  1.486010e+10  3.016603e+07     920.991146   1
..         ...           ...           ...            ...  ..
700 2018-02-12  7.307586e+10  3.183894e+09    4189.573823   1
701 2018-03-12  7.178448e+10  3.242290e+09    4124.593549   1
702 2018-04-12  6.748914e+10  3.128855e+09    3878.839235   1
703 2018-05-12  6.859215e+10  3.255900e+09    3943.692812   1
704 2018-06-12  6.535577e+10  3.020004e+09    3751.691966   1
705 2018-07-12  6.035792e+10  3.672494e+09    3466.763864   1
706 2018-08-12  5.934891e+10  5.243194e+09    3408.523617   1
707 2018-09-12  5.952662e+10  3.430204e+09    3424.705861   1
708 2018-10-12  6.183299e+10  2.938443e+09    3550.546434   1
709 2018-11-12  5.980535e+10  2.614506e+09    3433.808440   1
710 2018-12-12  5.885277e+10  2.720740e+09    3378.808778   1
711 2018-12-13  5.987832e+10  2.552042e+09    3438.100074   1
712 2018-12-14  5.731829e+10  2.620532e+09    3294.636157   1
713 2018-12-15  5.599852e+10  2.663820e+09    3216.627150   1
714 2018-12-16  5.617126e+10  2.103030e+09    3221.976204   1
715 2018-12-17  5.605048e+10  1.972664e+09    3217.046835   1
716 2018-12-18  6.114345e+10  3.421250e+09    3506.217013   1
717 2018-12-19  6.372043e+10  3.898845e+09    3655.775046   1
718 2018-12-20  6.436355e+10  4.721563e+09    3687.750553   1
719 2018-12-21  7.057886e+10  6.126325e+09    4065.097238   1
720 2018-12-22  6.711818e+10  4.813606e+09    3846.227498   1
721 2018-12-23  6.884609e+10  3.568246e+09    3960.567773   1
722 2018-12-24  6.868012e+10  3.514437e+09    3941.617740   1
723 2018-12-25  7.026633e+10  5.022192e+09    4021.990255   1
724 2018-12-26  6.535010e+10  4.189084e+09    3759.178427   1
725 2018-12-27  6.597246e+10  3.568561e+09    3781.613082   1
726 2018-12-28  6.280867e+10  3.386168e+09    3587.703880   1
727 2018-12-29  6.726308e+10  3.561936e+09    3854.421097   1
728 2018-12-30  6.683876e+10  3.031003e+09    3778.193940   1
729 2018-12-31  6.649419e+10  3.109685e+09    3809.728229   1

[729 rows x 5 columns]

In [28]:
Combined_df.dropna()

          Date    Market Cap        Volume  Current Price  ID
0   2017-01-01  1.604599e+10  3.470830e+09     998.050000   1
1   2017-02-01  1.638793e+10  4.444828e+09    1019.198800   1
2   2017-03-01  1.665272e+10  4.399421e+09    1035.531300   1
3   2017-04-01  1.818766e+10  8.705359e+09    1130.849516   1
4   2017-05-01  1.593489e+10  1.210275e+10     990.667500   1
5   2017-06-01  1.438228e+10  1.071325e+10     894.032500   1
6   2017-07-01  1.448115e+10  7.496626e+09     900.078800   1
7   2017-08-01  1.461184e+10  4.735055e+09     908.085000   1
8   2017-09-01  1.451352e+10  4.072688e+09     901.878888   1
9   2017-10-01  1.457773e+10  3.216811e+09     905.759463   1
10  2017-11-01  1.262408e+10  5.258604e+09     784.277500   1
11  2017-12-01  1.286963e+10  3.344901e+09     799.427500   1
12  2017-01-13  1.327479e+10  1.860270e+09     824.498800   1
13  2017-01-14  1.316907e+10  1.204480e+09     817.825000   1
14  2017-01-15  1.323662e+10  9.238967e+08     821.912500   1
15  2017-01-16  1.334139e+10  8.313615e+08     828.310000   1
16  2017-01-17  1.456480e+10  1.316827e+09     904.152500   1
17  2017-01-18  1.407968e+10  1.147970e+09     873.935000   1
18  2017-01-19  1.445143e+10  8.758585e+08     896.890000   1
19  2017-01-20  1.436600e+10  6.137963e+08     891.458800   1
20  2017-01-21  1.482282e+10  6.834912e+08     919.677500   1
21  2017-01-22  1.481040e+10  8.302018e+08     918.778812   1
22  2017-01-23  1.481405e+10  4.670229e+08     918.907500   1
23  2017-01-24  1.428176e+10  3.786662e+08     885.788800   1
24  2017-01-25  1.440737e+10  3.819514e+08     893.473800   1
25  2017-01-26  1.476203e+10  5.834937e+07     915.360000   1
26  2017-01-27  1.481118e+10  4.902932e+07     918.287500   1
27  2017-01-28  1.484453e+10  2.188221e+07     920.245000   1
28  2017-01-29  1.474799e+10  2.028832e+07     914.142500   1
29  2017-01-30  1.486010e+10  3.016603e+07     920.991146   1
..         ...           ...           ...            ...  ..
700 2018-02-12  7.307586e+10  3.183894e+09    4189.573823   1
701 2018-03-12  7.178448e+10  3.242290e+09    4124.593549   1
702 2018-04-12  6.748914e+10  3.128855e+09    3878.839235   1
703 2018-05-12  6.859215e+10  3.255900e+09    3943.692812   1
704 2018-06-12  6.535577e+10  3.020004e+09    3751.691966   1
705 2018-07-12  6.035792e+10  3.672494e+09    3466.763864   1
706 2018-08-12  5.934891e+10  5.243194e+09    3408.523617   1
707 2018-09-12  5.952662e+10  3.430204e+09    3424.705861   1
708 2018-10-12  6.183299e+10  2.938443e+09    3550.546434   1
709 2018-11-12  5.980535e+10  2.614506e+09    3433.808440   1
710 2018-12-12  5.885277e+10  2.720740e+09    3378.808778   1
711 2018-12-13  5.987832e+10  2.552042e+09    3438.100074   1
712 2018-12-14  5.731829e+10  2.620532e+09    3294.636157   1
713 2018-12-15  5.599852e+10  2.663820e+09    3216.627150   1
714 2018-12-16  5.617126e+10  2.103030e+09    3221.976204   1
715 2018-12-17  5.605048e+10  1.972664e+09    3217.046835   1
716 2018-12-18  6.114345e+10  3.421250e+09    3506.217013   1
717 2018-12-19  6.372043e+10  3.898845e+09    3655.775046   1
718 2018-12-20  6.436355e+10  4.721563e+09    3687.750553   1
719 2018-12-21  7.057886e+10  6.126325e+09    4065.097238   1
720 2018-12-22  6.711818e+10  4.813606e+09    3846.227498   1
721 2018-12-23  6.884609e+10  3.568246e+09    3960.567773   1
722 2018-12-24  6.868012e+10  3.514437e+09    3941.617740   1
723 2018-12-25  7.026633e+10  5.022192e+09    4021.990255   1
724 2018-12-26  6.535010e+10  4.189084e+09    3759.178427   1
725 2018-12-27  6.597246e+10  3.568561e+09    3781.613082   1
726 2018-12-28  6.280867e+10  3.386168e+09    3587.703880   1
727 2018-12-29  6.726308e+10  3.561936e+09    3854.421097   1
728 2018-12-30  6.683876e+10  3.031003e+09    3778.193940   1
729 2018-12-31  6.649419e+10  3.109685e+09    3809.728229   1

[729 rows x 5 columns]

In [12]:

# Merged_data= pd.merge(bitcoin_cash_pd_col_clean,btc_df, on = 'Date', how= 'inner', suffixes=('_bcc', '_btc') )

In [13]:
# Merged_data.head()

,Date,Market Cap_bcc,Volume_bcc,Current Price_bcc,Market Cap_btc,Volume_btc,Current Price_btc
0,2018-02-20,"26,199,800,000","820,947,000",1418.73,1.873642e+11,3.486172e+09,11103.090036
1,2018-02-19,"25,179,700,000","578,906,000",1534.77,1.775613e+11,4.740379e+09,10523.429306
2,2018-02-18,"26,344,200,000","907,873,000",1487.46,1.856923e+11,3.699819e+09,11006.647686
3,2018-02-17,"26,280,100,000","641,719,000",1551.39,1.713092e+11,3.141039e+09,10155.277056
4,2018-02-16,"23,302,000,000","961,010,000",1552.20,1.705698e+11,4.332357e+09,10112.580143